In [1]:
!pip install pyspark
%matplotlib inline
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext
sqlContext = SQLContext(sc)
import pandas as pd

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 204.2MB 64kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 204kB 35.7MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612243 sha256=8bbbfbb6d44aca4a9405e9a9cdfedf193286c17bfa980268554e5659b2ccf221
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1

In [25]:
import pandas as pd
before = pd.read_csv("tweets.csv")
before

                  user  ...  retweet
0           PatsFan876  ...     True
1        Yasu_Al_Masih  ...     True
2                JBK11  ...     True
3               SoyElG  ...    False
4       cynthianatalie  ...     True
...                ...  ...      ...
97195  Kimberl93935319  ...     True
97196   sharknadoalert  ...     True
97197      BereniceJB_  ...     True
97198        1989Mckoy  ...    False
97199        davescar1  ...     True

[97200 rows x 7 columns]

In [26]:
before.dtypes

user                 object
id                  float64
location             object
date                  int64
favourites_count      int64
text                 object
retweet                bool
dtype: object

In [27]:
# Pandas to Spark
from pyspark.sql.types import *
# mySchema=StructType([StructField("Country", StringType())\
#                       ,StructField("Org", StringType())])

mySchema = StructType([StructField("user", StringType())\
                      ,StructField("id", FloatType())\
                      ,StructField("location", StringType())\
                      ,StructField("date", IntegerType())\
                      ,StructField("favourites_count", StringType())\
                      ,StructField("text", StringType())\
                      ,StructField("retweet", StringType())])
df_before = spark.createDataFrame(before,schema=mySchema)
df_before.show()

+---------------+-------------+--------------------+-----+----------------+--------------------+-------+
|           user|           id|            location| date|favourites_count|                text|retweet|
+---------------+-------------+--------------------+-----+----------------+--------------------+-------+
|     PatsFan876| 2.99923456E9|                 NaN|42030|          359685|Busting stereotyp...|   true|
|  Yasu_Al_Masih| 8.8299999E17|            Nazareth|42923|           15736|I COULDN'T RESIST...|   true|
|          JBK11|  1.5036271E7|              Canada|39606|           43347|Busting stereotyp...|   true|
|         SoyElG|  3.2098352E7|                 NaN|39919|             432|The dismissive ha...|  false|
| cynthianatalie|  2.1103938E7|         Los Angeles|39861|            4952|Inside #DonaldTru...|   true|
|  jaynemikulski|  7.1986381E8| Western Springs, IL|41564|          103327|Is #DonaldTrump a...|   true|
|       Shrinki2|1.21999996E18|     United States, |43854|            2543|@JenniferJJacobs ...|  false|
|         xizzhu|  1.5253278E7|       United States|39626|           11098|@jack @nypost You...|  false|
|   tmihollywood|  7.5029587E8|Hollywood, Califo...|41132|            1162|Full #show on htt...|  false|
|   TymberDalton|  1.9447498E7| Dagnabbit, Florida!|39837|          154155|Inside #DonaldTru...|   true|
|   PhilthyLando|  8.3262528E7|Cave Creek, AZ Or...|40104|            6647|#AmyConeyBarrett ...|  false|
|  roripierpont1|      7.08E17|                 NaN|42439|          755982|Inside #DonaldTru...|   true|
|        ret_cw3|  1.8868356E7|AZ, MI (Deutschla...|39824|          229059|Busting stereotyp...|   true|
|DickYoungsGhost|  4.1751696E8|          My America|40868|           24900|Inside #DonaldTru...|   true|
|     martymar_1|   3.142076E7|                 NaN|39918|           13109|@realDonaldTrump ...|  false|
|peaceandteachin| 9.4999997E17|                 NaN|43106|          133248|#DonaldTrump‚Äôs SA...|   true|
|SuperWoman26245| 7.0199997E17|     California, USA|42422|           55165|@meiselasb @gtcon...|  false|
| QueenPeace2017| 8.2099997E17|        Georgia, USA|42751|           41177|1/  THREAD: Body ...|   true|
|    andrewpward|  1.4351438E7|     New Orleans, LA|39548|            2973|Inside #DonaldTru...|   true|
|kirstinestewart|  2.4235944E8|  So many airplanes |40567|          139463|Inside #DonaldTru...|   true|
+---------------+-------------+--------------------+-----+----------------+--------------------+-------+
only showing top 20 rows

In [28]:
df_before.count()

97200

In [29]:
# drop columns
df_before = df_before.drop('id', 'date')
# change the data type
df_before = df_before.withColumn("favourites_count", df_before['favourites_count'].cast(IntegerType()))
# # drop rows which tweet is retweet
df_before = df_before.filter(df_before['retweet'] == 'false')

In [31]:
# check if there are duplicate rows
if df_before.distinct().count() != df_before.count():
  print('There are duplicate rows.')
else:
  print('No duplicated.')

There are duplicate rows.

In [32]:
# remove duplicate rows
df_before = df_before.dropDuplicates()
df_before.count()

22987

In [36]:
df_before.show(4)

+---------------+--------------------+----------------+--------------------+-------+--------------------+
|           user|            location|favourites_count|                text|retweet|            hashtage|
+---------------+--------------------+----------------+--------------------+-------+--------------------+
|    TerinaKelso|Jacksonville, Flo...|            1865|SAY IT AGAIN FOR ...|  false|[#trump, #maga, #...|
| BadTasteMedia7|      Snellville, Ga|               2|I appreciate Chri...|  false|[#badtastemedia, ...|
|Horizonshealth2|                 NaN|              28|FOODS THAT MAKE Y...|  false|[#DonaldTrump, #T...|
|  maskshirt2021|                 NaN|             125|Without a mask he...|  false|[#COVIDIOTS, #Don...|
+---------------+--------------------+----------------+--------------------+-------+--------------------+
only showing top 4 rows

In [37]:
# extract the hashtage
import re
#extracting hashtags as a means of possible cluster validation  
def extraxt_hashtags(text):
  hashtags = re.findall(r'\B#\w*[a-zA-Z]+\w*', text)
  return hashtags

In [38]:
from pyspark.sql.functions import udf, expr, concat, col
from pyspark.sql import types
func_hash = udf(extraxt_hashtags, types.StringType())
df_before = df_before.withColumn("hashtage", func_hash("text"))

In [39]:
# clean tweet
from string import punctuation
def clean_tweet(tweet):
    # Remove hyperlinks
    tweet = re.sub("https?://[A-Za-z0-9./]*","",tweet)
    # Remove hashtags
    tweet = re.sub(r'#\w*', '', tweet)
    # Remove tickers
    tweet = re.sub(r'\$\w*', '', tweet)
    #@user -> at_user
    tweet = re.sub("@[\w]*","",tweet)
    # To lowercase
    tweet = tweet.lower()
    # Remove Punctuation and split 's, 't, 've with a space for filter
    tweet = re.sub(r'[' + punctuation.replace('@', '') + ']+', ' ', tweet)
    # Remove words: I, a , am, me (2 or less letters)
    tweet = re.sub(r'\b\w{1,2}\b', '', tweet)
    # Remove whitespace (including new line characters)
    tweet = re.sub(r'\s\s+', ' ', tweet)
    # Remove single space remaining at the front of the tweet.
    tweet = tweet.lstrip(' ') 
    # Remove emojis or other. special characters
    tweet = ''.join(c for c in tweet if c <= '\uFFFF') 
    return tweet

In [40]:
func_clean = udf(clean_tweet, types.StringType())
df_before = df_before.withColumn("clean_text", func_clean("text"))

In [41]:
from pyspark.ml.feature import Tokenizer
from pyspark.ml.feature import StopWordsRemover
from pyspark.ml.feature import IDF
import requests
from pyspark.ml import Pipeline
from pyspark.ml.feature import CountVectorizer

tokenizer = Tokenizer()\
  .setInputCol("clean_text")\
  .setOutputCol("words")

# stopwords object
# we obtain the stop words from a website
stop_words = requests.get('http://ir.dcs.gla.ac.uk/resources/linguistic_utils/stop_words').text.split()
stop_words[0:10]
sw_filter = StopWordsRemover()\
\
  .setStopWords(stop_words)\
  .setCaseSensitive(False)\
  .setInputCol("words")\
  .setOutputCol("filtered")

# we will remove words that appear in 5 docs or less
cv = CountVectorizer()\
  .setInputCol("filtered")\
  .setOutputCol("tf")

# TF-IDF object
idf = IDF().\
    setInputCol('tf').\
    setOutputCol('tfidf')

# build the pipeline
pipe1 = Pipeline(stages=[tokenizer, sw_filter, cv]).fit(df_before)
tweets_pipe = Pipeline(stages=[pipe1, idf]).fit(df_before)

In [42]:
tweets_before = tweets_pipe.transform(df_before)

In [43]:
tweets_before.show(4)

+---------------+--------------------+----------------+--------------------+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|           user|            location|favourites_count|                text|retweet|            hashtage|          clean_text|               words|            filtered|                  tf|               tfidf|
+---------------+--------------------+----------------+--------------------+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|    TerinaKelso|Jacksonville, Flo...|            1865|SAY IT AGAIN FOR ...|  false|[#trump, #maga, #...|say again for the...|[say, again, for,...|  [say, people, row]|(20493,[9,50,3189...|(20493,[9,50,3189...|
| BadTasteMedia7|      Snellville, Ga|               2|I appreciate Chri...|  false|[#badtastemedia, ...|appreciate christ...|[appreciate, chri...|[appreciate, chri...|(20493,[8,29,45,5...|(20493,[8,29,45,5...|
|Horizonshealth2|                 NaN|              28|FOODS THAT MAKE Y...|  false|[#DonaldTrump, #T...|foods that make y...|[foods, that, mak...|[foods, make, sle...|(20493,[21,798,80...|(20493,[21,798,80...|
|  maskshirt2021|                 NaN|             125|Without a mask he...|  false|[#COVIDIOTS, #Don...|without mask stan...|[without, mask, s...|[mask, standing, ...|(20493,[1,10,11,3...|(20493,[1,10,11,3...|
+---------------+--------------------+----------------+--------------------+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 4 rows

In [44]:
tweets_before.toPandas().to_csv('before.csv')

## After

In [47]:
df_after = pd.read_csv("tweet_after.csv")
df_after

                  user  ...  retweet
0             Hskers62  ...     True
1           JMZJEWELRY  ...     True
2         lrogers66821  ...     True
3             LizNYC66  ...     True
4         thia89837769  ...     True
...                ...  ...      ...
45389  Richardson9Mike  ...    False
45390       suzyqbooks  ...     True
45391   MSZ006FD3S3121  ...     True
45392      FjellVeitje  ...     True
45393     LEAP70760991  ...    False

[45394 rows x 7 columns]

In [48]:
df_after.dtypes

user                 object
id                  float64
location             object
date                 object
favourites_count    float64
text                 object
retweet              object
dtype: object

In [49]:
from pyspark.sql.types import *
# mySchema=StructType([StructField("Country", StringType())\
#                       ,StructField("Org", StringType())])

mySchema = StructType([StructField("user", StringType())\
                      ,StructField("id", FloatType())\
                      ,StructField("location", StringType())\
                      ,StructField("date", StringType())\
                      ,StructField("favourites_count", StringType())\
                      ,StructField("text", StringType())\
                      ,StructField("retweet", StringType())])
tweets_after = spark.createDataFrame(df_after,schema=mySchema)
tweets_after.show(5)

+------------+-------------+---------------+-------+----------------+--------------------+-------+
|        user|           id|       location|   date|favourites_count|                text|retweet|
+------------+-------------+---------------+-------+----------------+--------------------+-------+
|    Hskers62| 9.0812699E17|  United States|9/14/17|        197954.0|Donald Trump is t...|   true|
|  JMZJEWELRY|   8.82603E17|Here and there | 7/5/17|          3652.0|Joe Biden got 306...|   true|
|lrogers66821|1.00438999E18| Cincinnati, OH| 6/6/18|        369957.0|Deutsche Bank, wh...|   true|
|    LizNYC66| 8.9273898E17|  Manhattan, NY| 8/2/17|         33175.0|The Biden adminis...|   true|
|thia89837769|1.21457002E18|Ottawa, Ontario| 1/7/20|          5580.0|Donald Trump is t...|   true|
+------------+-------------+---------------+-------+----------------+--------------------+-------+
only showing top 5 rows

In [50]:
tweets_after.count()

45394

In [51]:
# drop columns
tweets_after = tweets_after.drop('id', 'date')
# change the data type
tweets_after = tweets_after.withColumn("favourites_count", tweets_after['favourites_count'].cast(IntegerType()))
# # drop rows which tweet is retweet
tweets_after = tweets_after.filter(tweets_after['retweet'] == 'false')

In [52]:
# check if there are duplicate rows
if tweets_after.distinct().count() != tweets_after.count():
  print('There are duplicate rows.')
else:
  print('No duplicated.')

There are duplicate rows.

In [53]:
# remove duplicate rows
tweets_after = tweets_after.dropDuplicates()
tweets_after.count()

15860

In [54]:
tweets_after = tweets_after.withColumn("hashtage", func_hash("text"))

In [55]:
tweets_after = tweets_after.withColumn("clean_text", func_clean("text"))

In [56]:
pipe2 = Pipeline(stages=[tokenizer, sw_filter, cv]).fit(tweets_after)
tweets_pipe_2 = Pipeline(stages=[pipe2, idf]).fit(tweets_after)

In [57]:
tweets_after_df = tweets_pipe_2.transform(tweets_after)

In [58]:
tweets_after_df.show(5)

+---------------+----------------+----------------+--------------------+-------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|           user|        location|favourites_count|                text|retweet|    hashtage|          clean_text|               words|            filtered|                  tf|               tfidf|
+---------------+----------------+----------------+--------------------+-------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|nicholasmcardle|White House -TBC|             418|@realDonaldTrump ...|  false|          []|trump english can...|[trump, english, ...|[trump, english, ...|(17372,[0,4,6,10,...|(17372,[0,4,6,10,...|
|     seanieinaz|             NaN|              38|@realDonaldTrump ...|  false|          []|can donald trump ...|[can, donald, tru...|[donald, trump, t...|(17372,[0,4,39,64...|(17372,[0,4,39,64...|
|    packard1963|  Northumberland|           13002|@KayBurley #mikep...|  false|[#mikepence]|saying more less ...|[saying, more, le...|       [saying, say]|(17372,[52,157],[...|(17372,[52,157],[...|
| mikepence_smom|   United States|             801|@MSarelson @Angel...|  false|          []|put his ass jail ...|[put, his, ass, j...|[ass, jail, arres...|(17372,[255,816,1...|(17372,[255,816,1...|
| mikepence_smom|   United States|             801|Yeah, Baby https:...|  false|          []|          yeah baby |        [yeah, baby]|        [yeah, baby]|(17372,[560,609],...|(17372,[560,609],...|
+---------------+----------------+----------------+--------------------+-------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [59]:
tweets_after_df.toPandas().to_csv('after.csv')